extends layout
block content
  #starbucks
  .row.page-header
    .col-lg-12
      h1 Starbucks 
  .row 
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          p Centrum Garden AVM
          .panel.panel-primary
            .panel-heading
              h2.panel-title Açılış Saatleri
            .panel-body
              p
                | Pazartesi - Pazar : 8:30 - 00:00
          .panel.panel-primary
            .panel-heading
              h2.panel-title Neler Var?
            .panel-body
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Konum Bilgisi
            .panel-body
              -var enlem=37.78
              -var boylam=30.56
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          a.btn.btn-default.pull-right(href='/mekan/yorum/yeni#starbucks') Yorum Ekle
          h2.panel-title Müşteri Yorumları
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.review-author &nbsp; Emir Çelik
                small.reviewTimestamp &nbsp; 12 Ekim 2022
              .col-xs-12
                p Cool Lime Haaarikaydı

  #popeyes
  .row.page-header
    .col-lg-12
      h1 Popeyes
  .row 
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Iyaşpark AVM
          .panel.panel-primary
            .panel-heading
              h2.panel-title Açılış Saatleri
            .panel-body
              p
                | Pazartesi - Pazar : 10:00 - 22:00
          .panel.panel-primary
            .panel-heading
              h2.panel-title Neler Var?
            .panel-body
              span.label.label-warning Tavuk
              | &nbsp;
              span.label.label-warning Atıştırmalıklar
              | &nbsp;
              span.label.label-warning Kampanyalar
              | &nbsp;
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Konum Bilgisi
            .panel-body
              -var enlem=37.78
              -var boylam=30.54
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          a.btn.btn-default.pull-right(href='/mekan/yorum/yeni#popeyes') Yorum Ekle
          h2.panel-title Müşteri Yorumları
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.review-author &nbsp; Kaan Ergin
                small.reviewTimestamp &nbsp; 9 Eylül 2022
              .col-xs-12
                p Kesinlikle tavsiye etmiyorum her şey buz gibi ve lezzetsizdi

  #ustadonerci
  .row.page-header
    .col-lg-12
      h1 Usta Dönerci
  .row 
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Iyaşpark AVM
          .panel.panel-primary
            .panel-heading
              h2.panel-title Açılış Saatleri
            .panel-body
              p
                | Pazartesi - Pazar : 10:00 - 22:00
          .panel.panel-primary
            .panel-heading
              h2.panel-title Neler Var?
            .panel-body
              span.label.label-warning Kebap
              | &nbsp;
              span.label.label-warning Türk Mutfağı
              | &nbsp;
              span.label.label-warning Döner
              | &nbsp;
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Konum Bilgisi
            .panel-body
              -var enlem=37.78
              -var boylam=30.54
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          a.btn.btn-default.pull-right(href='/mekan/yorum/yeni#ustadonerci') Yorum Ekle
          h2.panel-title Müşteri Yorumları
        .panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                span.rating
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.review-author &nbsp; Enis Çolak
                small.reviewTimestamp &nbsp; 18 Eylül 2022
              .col-xs-12
                p Dönerlerinin tadı biraz garipti ama fiyatına göre doyuruculuğu gayet iyidi
            